{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
   <link rel="stylesheet" href="{% static "startup/css/styleuser.css" %}">
</head>
<body>
  <!--left navigation bar-->
  {% include "administrator/base.html" %} 
<section id="contents">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <i class="fa fa-align-right"></i>
        </button>
        <a class="navbar-brand" href="#">My<span class="main-color">Dashboard</span></a>
      </div>
      {% include "administrator/header.html" %}
    </div>
  </nav>  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="color:white;">
       <br>
       <h3>Assign Mentors</h3>
       <section class="admins">
        <div class="container-fluid">


          <div class="row">
            <div class="col-md-6">
              <div class="box">
 {% for m in mentors_left %}
                <div class="admin">
                  

                  <div class="admin">
                    <div class="img">
                      <img style="height:100px;width:100px;margin-top:20%;" class="img-responsive" src="{{m.image.url}}" alt="admin">
                    </div>
                    <div class="info">
                      <h3>{{m.name}}</h3>
                      <p>{{ m.description|slice:":20" }}</p>
                      <form method="POST" action="">
                        <div class="row">
                           <div class="col-md-6">
                        <div class="form-group">
                          <label for="months">Duration</label>
                          <input value="3" type="number" class="form-control" name="months" required>
                          <input type="" name="id" value="{{m.id}}" style="display: none;">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <br><br>
                        <h4><b>Months</b></h4>
                      </div>
                    </div>
                        <div class="form-group">
                          <label for="sel1">Select Startup:</label>
                          <select class="form-control" id="selid" name="startup">
                             
                            {% for s in startups %}
                            <option>

                            {{ s.name }} </option>

                            {% endfor %}

                          </select>
                         
                        </div>
                        
                        
                        <button type="submit" class="btn btn-primary">
                      
                            Assign
                  
                        </button>
                      </form>
                    </div>

                   

                </div>           
              </div>
               {% endfor %}
            </div>

          </div>
   <div class="col-md-6">
              <div class="box">
 {% for m in mentors_right %}
                <div class="admin">
                  

                  <div class="admin">
                    <div class="img">
                      <img style="height:100px;width:100px;margin-top:20%;" class="img-responsive" src="{{m.image.url}}" alt="admin">
                    </div>
                    <div class="info">
                      <h3>{{m.name}}</h3>
                      <p>{{ m.description|slice:":20" }}</p>
                      <form method="POST" action="">
                        <div class="row">
                           <div class="col-md-6">
                        <div class="form-group">
                          <label for="months">Duration</label>
                          <input value="3" type="number" class="form-control" name="months" required>
                          <input type="" name="id" value="{{m.id}}" style="display: none;">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <br><br>
                        <h4><b>Months</b></h4>
                      </div>
                    </div>
                        <div class="form-group">
                          <label for="sel1">Select Startup:</label>
                          <select class="form-control" id="selid" name="startup">
                             
                            {% for s in startups %}
                            <option>

                            {{ s.name }} </option>

                            {% endfor %}

                          </select>
                         
                        </div>
                        
                        
                        <button type="submit" class="btn btn-primary">
                      
                            Assign
                  
                        </button>
                      </form>
                    </div>

                   

                </div>           
              </div>
               {% endfor %}
            </div>

          </div>

            
          </div>

          
        </div>
      </section>
    </div>

  </div>
</div>    
</section>



<script src='http://code.jquery.com/jquery-latest.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<script src="{% static "administrator/js/mainuser.js"%}"></script>

<script  src="{% static "administrator/js/indexuser.js"%}"></script>



</body>

</html>