{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Room rents</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/styleuser.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>
<body>
  <!--left navigation bar-->
  {% include "administrator/base.html" %} 
  <section id="contents">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <i class="fa fa-align-right"></i>
          </button>
          <a class="navbar-brand" href="#">Room rent<span class="main-color"></span></a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My profile <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user-o fw"></i> My Profile</a></li>
                <li><a href="#"><i class="fa fa-envelope-o fw"></i> My inbox</a></li>
                <li><a href="#"><i class="fa fa-question-circle-o fw"></i> Help</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="fa fa-sign-out"></i> Log out</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-comments"></i><span>23</span></a></li>
            <li><a href="#"><i class="fa fa-bell-o"></i><span>98</span></a></li>
            <li><a href="#"><i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>	
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" style="color:white;">
         <br>

         <h3 align="center">Rooms </h3>
         <br><br>
         <table id="tbl1" class="table table-bordered">

          <tbody>

            <tr height="100px" width="100px">

              {% for d in data_upper %}
                  {% if d.1 == 1 %}
                  <td  style="background-color: green;">
                    <center>
                     <h4><b> <center>Room 1</center> </b></h4>
                     <img style="height:50px;width:50px; " src="{{d.image}}">
                     <BR>

                     <br>
                     Occupied by {{d.startup}}
                     <br> For {{ d.duration }} months <br>
                     Date alloted : {{ d.date_alloted }}
                   </center>
                 </td>
                 {% endif %}
                 {% if d.1 == 0 %}
                         <td>
                           <center>
                             <h4><b> <center>Room 1</center> </b></h4>
                             <img style="height:50px;width:50px; " src="https://previews.123rf.com/images/lucadp/lucadp1205/lucadp120500008/13541482-one-empty-room-with-two-windows-and-a-wooden-floor-3d-render-.jpg">
                             <BR>
                             <div class="col-sm-5">
                             </div>
                             <div class="col-sm-2">
                              Occupied by None
                              <form style="float:left;" method="POST" action="" id="myform">

                                <div class="form-group">
                                  <label for="sel1"></label>
                                  <select class="form-control" id="sel1" name="startup" >
                                   <option value="" selected disabled hidden>+</option>
                                   {% for x in startups %}
                                   <option>{{x.startup}}</option>
                                   {% endfor %}
                                 </select>
                               </div>

                               <div class="form-group">
                                <label for="Room No">Duration</label>
                                <input type="hidden" value="1" name="roomno">
                                <input style="color:black;" type="number" name="duration" class="form-control" placeholder="In Months" id="duration">
                              </div>
                              <button type="submit" class="btn btn-primary">
                                
                                Allot
                                
                              </button>
                            </form>
                          </div>
                          <div class="col-sm-5">
                          </div>
                          <br>
                          

                        </center>

                      </td>  
                 {% endif %}
             {% endfor %}


             {% for d in data_upper %}
                               {% if d.2 == 1 %}
                               <td  style="background-color: green;">
                                 <center>
                                  <h4><b> <center>Room 2</center> </b></h4>
                                  <img style="height:50px;width:50px; " src="{{d.image}}">
                                  <BR>

                                  <br>
                                  Occupied by {{d.startup}}
                                  <br> For {{ d.duration }} months <br>
                                  Date alloted : {{ d.date_alloted }}
                                </center>
                              </td>
                              {% endif %}
                              {% if d.2 == 0 %}
                                      <td>
                                        <center>
                                          <h4><b> <center>Room 2</center> </b></h4>
                                          <img style="height:50px;width:50px; " src="https://previews.123rf.com/images/lucadp/lucadp1205/lucadp120500008/13541482-one-empty-room-with-two-windows-and-a-wooden-floor-3d-render-.jpg">
                                          <BR>
                                          <div class="col-sm-5">
                                          </div>
                                          <div class="col-sm-2">
                                           Occupied by None
                                           <form style="float:left;" method="POST" action="" id="myform">

                                             <div class="form-group">
                                               <label for="sel1"></label>
                                               <select class="form-control" id="sel1" name="startup" >
                                                <option value="" selected disabled hidden>+</option>
                                                {% for x in startups %}
                                                <option>{{x.startup}}</option>
                                                {% endfor %}
                                              </select>
                                            </div>

                                            <div class="form-group">
                                             <label for="Room No">Duration</label>
                                             <input type="hidden" value="2" name="roomno">
                                             <input style="color:black;" type="number" name="duration" class="form-control" placeholder="In Months" id="duration">
                                           </div>
                                           <button type="submit" class="btn btn-primary">
                                             
                                             Allot
                                             
                                           </button>
                                         </form>
                                       </div>
                                       <div class="col-sm-5">
                                       </div>
                                       <br>
                                       

                                     </center>

                                   </td>  
                              {% endif %}
                          {% endfor %}



          </tr>
          <tr height="100px" width="100px">


           {% for d in data_lower %}
               {% if d.3 == 1 %}
               <td  style="background-color: green;">
                 <center>
                  <h4><b> <center>Room 3</center> </b></h4>
                  <img style="height:50px;width:50px; " src="{{d.image}}">
                  <BR>

                  <br>
                  Occupied by {{d.startup}}
                  <br> For {{ d.duration }} months <br>
                  Date alloted : {{ d.date_alloted }}
                </center>
              </td>
              {% endif %}
              {% if d.3 == 0 %}
                      <td>
                        <center>
                          <h4><b> <center>Room 3</center> </b></h4>
                          <img style="height:50px;width:50px; " src="https://previews.123rf.com/images/lucadp/lucadp1205/lucadp120500008/13541482-one-empty-room-with-two-windows-and-a-wooden-floor-3d-render-.jpg">
                          <BR>
                          <div class="col-sm-5">
                          </div>
                          <div class="col-sm-2">
                           Occupied by None
                           <form style="float:left;" method="POST" action="" id="myform">

                             <div class="form-group">
                               <label for="sel1"></label>
                               <select class="form-control" id="sel1" name="startup" >
                                <option value="" selected disabled hidden>+</option>
                                {% for x in startups %}
                                <option>{{x.startup}}</option>
                                {% endfor %}
                              </select>
                            </div>

                            <div class="form-group">
                             <label for="Room No">Duration</label>
                             <input type="hidden" value="3" name="roomno">
                             <input style="color:black;" type="number" name="duration" class="form-control" placeholder="In Months" id="duration">
                           </div>
                           <button type="submit" class="btn btn-primary">
                             
                             Allot
                             
                           </button>
                         </form>
                       </div>
                       <div class="col-sm-5">
                       </div>
                       <br>
                       

                     </center>

                   </td>  
              {% endif %}
          {% endfor %}



           {% for d in data_lower %}
               {% if d.4 == 1 %}
               <td  style="background-color: green;">
                 <center>
                  <h4><b> <center>Room 4</center> </b></h4>
                  <img style="height:50px;width:50px; " src="{{d.image}}">
                  <BR>

                  <br>
                  Occupied by {{d.startup}}
                  <br> For {{ d.duration }} months <br>
                  Date alloted : {{ d.date_alloted }}
                </center>
              </td>
              {% endif %}
              {% if d.4 == 0 %}
                      <td>
                        <center>
                          <h4><b> <center>Room 4</center> </b></h4>
                          <img style="height:50px;width:50px; " src="https://previews.123rf.com/images/lucadp/lucadp1205/lucadp120500008/13541482-one-empty-room-with-two-windows-and-a-wooden-floor-3d-render-.jpg">
                          <BR>
                          <div class="col-sm-5">
                          </div>
                          <div class="col-sm-2">
                           Occupied by None
                           <form style="float:left;" method="POST" action="" id="myform">

                             <div class="form-group">
                               <label for="sel1"></label>
                               <select class="form-control" id="sel1" name="startup" >
                                <option value="" selected disabled hidden>+</option>
                                {% for x in startups %}
                                <option>{{x.startup}}</option>
                                {% endfor %}
                              </select>
                            </div>

                            <div class="form-group">
                             <label for="Room No">Duration</label>
                             <input type="hidden" value="4" name="roomno">
                             <input style="color:black;" type="number" name="duration" class="form-control" placeholder="In Months" id="duration">
                           </div>
                           <button type="submit" class="btn btn-primary">
                             
                             Allot
                             
                           </button>
                         </form>
                       </div>
                       <div class="col-sm-5">
                       </div>
                       <br>
                       

                     </center>

                   </td>  
              {% endif %}
          {% endfor %}


        </tr>

      </tbody>

    </table>
  </div>
</div>
</div>	  
</section>
<script type="text/javascript">
  
  
</script>

<script type="text/javascript">
     
      var x = '{{msg}}' ;
      if (x.length > 2){
        swal('{{ msg }}');
      } 
      
      </script>

    <script  src="{% static "startup/js/indexuser.js" %} "></script>
<script src='http://code.jquery.com/jquery-latest.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<script src='{% static 'administrator/js/mainuser.js'%}"></script>
</body>
</html>
<script  src='{% static 'administrator/js/indexuser.js'%}"></script>
</body> 
</html>
